* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

.container {
  max-width: 1000px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.card {
  width: 700px;
  padding: 30px;
  border-radius: 20px;
  background-image: linear-gradient(
    to right bottom,
    #ffffff,
    #f6f8fc,
    #e9f1f9,
    #daecf4,
    #cbe7ec
  );

  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

header {
  display: flex;
  align-items: center;
}

.profile-picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid black;
  background-image: url("./img/profilepic.jpg");
  background-position: center center;
  background-size: contain;
}

.info-section {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.title{
  font-size: 18px;
}

.name-link {
  text-decoration: none;
  color: rgb(86, 85, 85);
}

main {
  margin-top: 20px;
  font-size: 20px;
}

footer {
  margin-top: 10px;
}

.email {
  margin-top: 10px;
  color: rgb(86, 85, 85);
}



.delete-btn {
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 8px;
}

.delete-btn:hover,
.delete-btn:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.delete-btn:active {
  opacity: .5;
}
